
altair
blinker
cachetools
click
gitpython
jira
networkx
numpy
packaging
pandas
pillow
protobuf<4.0.0
pyarrow
pydeck
python-dateutil
pytz
pyvis
requests
six
streamlit==1.54.0
tenacity
toml
tornado
typing-extensions
tzdata
urllib3
watchdog
